<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- [ngModel]="selectedIntern.code"
[ngModel]="selectedIntern.name" -->
<div class="mat-app-background basic-container">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Entern code"  name = "code" #internCode  value={{selectedIntern.code}}/>
        </mat-form-field>
      <br/>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Entern name"  name = "name" #internName value={{selectedIntern.name}}/>
          </mat-form-field>
      </form>
</div>

<form class= "class-button">
    <button mat-raised-button *ngIf="isnew" (click)="selectNew(); internCode.value=''; internName.value=''" color="primary">New</button>
    <button mat-raised-button *ngIf="isupdate" (click)="selectUpdate()" color="primary">Update</button>
    <button mat-raised-button *ngIf="isclear" (click)="internCode.value=''; internName.value=''" color="warn">Clear</button>
    <button mat-raised-button *ngIf="iscancel" (click)="selectCancelSave(); internCode.value=''; internName.value=''" color="warn">Cancel</button>
    <button mat-raised-button *ngIf="issave" (click)="add(internCode.value, internName.value); selectCancelSave(); internCode.value=''; internName.value=''" color="warn">Save</button>
    <button mat-raised-button *ngIf="isdelete" (click)="delete(internCode.value, internName.value); internCode.value=''; internName.value=''" color="primary">Delete</button>
    <button mat-raised-button *ngIf="issearch" color="primary">Search</button>
  </form>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [class.selected]="row===selectedIntern" (click)="onRowClicked(row)"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[5, 10, 100, 250]">
  </mat-paginator></div>