.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-items: center;
    color: rgb(182, 69, 69);
  }
  
  .example-full-width {
    width: 100%;
  }

  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }

  table {
    width: 100%;
  }
  