.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-items: center;
    color: rgb(182, 69, 69);
  }
  
  .example-full-width {
    width: 100%;
  }

  /* button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #d851a4;
  } */

  table {
    width: 100%;
  }
  
  /* .class-button{
    margin-left: 120px;
  } */

  .class-button button{
    margin:20px;
    /* background-color: rgb(153, 197, 241); */
  }
  
  .mat-row:hover {
    background-color: rgb(197, 243, 241);
  }
  .selected{
    background-color: rgb(250, 26, 26) !important;
  }